In [1]:
x=10         ---->x is a Variable--Variable means container to store the values
x

10

### Rules for naming a variable

In [2]:
first name="komal"                       
first name

SyntaxError: invalid syntax (1848066144.py, line 1)

In [ ]:
Note:vaiable name ie first name should not have space

In [4]:
first_name="komal"
first_name

'komal'

In [5]:
Firstname="komal"                ---->Variable name ie Firstname  can start with A-Z ,a-zFF
Firstname

'komal'

In [6]:
First-name="komal"
First-name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3344972103.py, line 1)

In [7]:
First+name="komal"
First+name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2831928507.py, line 1)

In [ ]:
Note-Remember only special character is underscore(_) use in variable.

In [9]:
_course="ai"              ----variable name start with (_)underscore,A-Z and a-z
_course

'ai'

In [10]:
2names="komal",'kautkar'
2names

SyntaxError: invalid decimal literal (1745124096.py, line 1)

In [ ]:
Note-variable name should not start with numbers

In [11]:
names2='komal','kautkar'
names2

('komal', 'kautkar')

In [ ]:
Note-variable should not have space.